body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.nps-body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.nps-wraper {
  width: 723px;
  background-color: #ffffff;
  padding: 0;
  margin: 0 auto;
}

.nps-header {
  padding-top: 30px;
  margin: 0 auto;
}
/*Score Page*/

.header-logo-img {
  width: 205px;
  height: 52px;
  outline: none;
  -ms-interpolation-mode: bicubic;
  display: block;
  margin: 0 auto;
  padding: 0;
  object-fit: contain;
}

.score-header-text {
  width: 100%;
  font-family: Roboto;
  display: block;
  padding-top: 80px;
}

.score-header-text-span-left {
  width: 303px;
  height: 32px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1a77d2;
  margin-right: 11px;
}

.score-header-text-span-right a {
  color: #1a77d2;
}

.score-header-text-span-right {
  width: 107px;
  height: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #1a77d2;
  text-decoration: underline;
}

.score-content-wraper {
  display: flex;
  justify-content: space-around;
  padding-top: 28px;
  margin-bottom: -0.7% !important;
}

.score-form-textarea {
  width: 410px;
  height: 104px;
  border-radius: 5px;
  border: solid 1px #dadada;
}

.score-content-form {
  margin-right: 32px;
  margin-left: 8em;
}

.score-form-text {
  width: 155px;
  height: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #333333;
  padding-bottom: 16.4px;
}

.score-img {
  width: 404px;
  height: 302px;
  object-fit: contain;
}

.score-question-text {
  width: 674px;
  height: 45px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: #000000;
  padding-top: 26px;
}

.score-element-position-center {
  width: 135px;
  height: 40.1px;
  border-radius: 3px;
  border: solid 1px #1a77d2;
  background-color: #1a77d2;
  margin-top: 28.6px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #fafafa;
}

.content-hr {
  background-color: #f5f5f5;
  width: 99.9%;
  border: solid 0.5px #dadada;
  margin: 0 auto;
  padding: 0;
}

.score-footer {
  padding-top: 39px !important;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.score-footer-text-wraper {
  width: 787px;
  height: 26px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #949494;
}

.score-footer-logo-wraper {
  padding-top: 35px;
}

.score-footer-text-wraper-down {
  width: 228px;
  height: 13px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #949494;
  padding: 0;
  margin: 0 auto;
}
/*MEDIA */

@media screen and (max-device-width: 768px) {
  .score-body {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .nps-wraper {
    width: 100%;
    margin: 0 auto;
    padding: 0 11px;
    height: auto;
    background-color: #ffffff;
  }
  .score-img {
    width: 91%;
    height: 100%;
    object-fit: contain;
  }
  .score-content-wraper {
    margin-bottom: -0.4% !important;
  }
  .score-element-position-center {
    margin-top: 15px;
  }
  .score-footer {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .score-content-form {
    margin: 0;
    padding: 0;
    margin-right: 2em;
  }
  .score-footer-text {
    width: 728;
    margin: 0 auto;
    margin-right: 5% !important;
  }
  .content-hr {
    width: 103.8%;
    padding: 0;
  }
}

@media screen and (max-device-width: 425px) {
  .score-body {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 1008px;
  }
  .nps-wraper {
    width: 380px;
    margin: 0 22px;
    padding: 0;
    height: auto;
    background-color: #ffffff;
  }
  .header-logo-img {
    width: 158px;
    height: 40px;
    object-fit: contain;
  }
  .score-header-text {
    font-family: Roboto;
    padding-top: 52px !important;
  }
  .score-header-text-span-left {
    width: 202px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a77d2;
    margin-right: 22px;
  }
  .score-header-text-span-right {
    width: 107px;
    height: 20px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #1a77d2;
    text-decoration: underline;
  }
  .score-content-wraper {
    display: flex;
    flex-direction: column;
    margin-bottom: -1.3% !important;
    width: 100%;
  }
  .score-question-text {
    width: 338px;
    height: 104px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #000000;
  }
  .score-form-textarea {
    width: 333px;
    height: 104px;
  }
  .score-content-img {
    margin-top: 62.9px;
  }
  .score-img {
    width: 350px;
    height: auto;
    object-fit: contain;
  }
  .score-footer {
    padding-top: 35px !important;
  }
  .score-footer-text-wraper {
    width: 100%;
  }
  .content-hr {
    background-color: #f5f5f5;
    width: 100%;
    border: solid 0.5px #dadada;
    margin: 0 auto;
    padding: 0;
  }
  .score-footer {
    margin-bottom: 40px;
  }
  .score-footer-logo-wraper {
    padding-top: 80px;
  }
}

@media screen and (max-device-width: 375px) {
  .score-body {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 1008px;
  }
  .nps-wraper {
    width: 350px;
    margin: 0 11px;
    padding: 0;
    height: auto;
    background-color: #ffffff;
  }
  .header-logo-img {
    width: 158px;
    height: 40px;
    object-fit: contain;
  }
}

@media screen and (max-device-width: 320px) {
  .score-img {
    width: 300px;
  }
  .content-hr {
    width: 339px !important;
  }
  .nps-body {
    width: 100%;
    margin: 0 11px;
    padding: 0;
  }
  .nps-wraper {
    width: 100%;
    margin: 0 11px;
    padding: 0;
  }
}
/*Done Page*/

.done-wraper {
  width: 894px;
  height: 100%;
  margin: 0 auto;
  padding: 0%;
}

.done-content-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.done-header-text {
  width: 894px;
  height: 32px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 0 auto;
}

.done-header-text h4 {
  margin: 0;
  margin-top: 80px;
  padding: 0;
}

.done-button-wrap {
  width: 219px;
  height: 52px;
  margin-top: 48px;
  text-align: center;
}

.done-button-text {
  border-radius: 3px;
  border: solid 1px #1a77d2;
  margin-top: 48px;
  text-align: center;
  width: 219px;
  height: 52px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1a77d2;
  text-decoration: none;
  padding: 16px 36px;
}

.done-img {
  width: 404px;
  height: 302px;
  object-fit: contain;
}

.nps-footer {
  margin-top: 37px;
}

.nps-footer footer {
  margin-right: 10px;
}

.done-content-img {
  height: 18.2em;
}

.done-footer {
  padding-top: 37px !important;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.done-footer-text-wraper {
  width: 100%;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #949494;
}

.done-footer-logo-wraper {
  padding-top: 35px;
}

.done-footer-text-wraper-down {
  width: 228px;
  height: 13px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #949494;
  padding: 0;
  margin: 0 auto;
}
/*MEDIA */

@media screen and (max-device-width: 768px) {
  .nps-body {
    margin: 0 auto;
    padding: 0;
  }
  .done-wraper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .done-header-text {
    width: 100%;
    margin-left: 1em;
  }
  .done-content-img {
    padding-left: 7%;
  }
  .done-content-wraper {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-device-width: 426px) {
  .done-body-media {
    height: 968px;
    margin: 0 auto;
    padding: 0;
  }
  .done-header-text {
    margin: 0 auto;
    padding: 0;
    width: 324px;
    height: 38px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-top: 140px;
  }
  .done-header-text h4 {
    margin: 0;
    padding: 0;
  }
  .done-button-wrap {
    margin-top: 45px;
  }
  .done-content-wraper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .done-content-img {
    margin-top: 140px;
    width: 100%;
    height: 15.7em;
    padding: 0;
  }
  .done-img {
    width: 360px;
    height: 254px;
    object-fit: contain;
    margin: 0 auto;
    padding: 0;
  }
  .content-hr {
    width: 100%;
    margin-top: 1px;
    padding: 0;
  }
  .done-footer-text {
    width: 345px;
    height: 52px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #949494;
  }
}

@media screen and (max-device-width: 321px) {
  .score-form-textarea {
    width: 319px;
    height: 104px;
  }
  .nps-footer footer {
    margin: 0 auto;
    padding: 0;
  }
  .done-header-text h4 {
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }
  .done-wraper-media {
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }
  .done-button-wrap {
    margin-left: 30px;
  }
}
/*ratingNps*/

.rating-header-text {
  width: 1000px;
  height: 32px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.rating-content-wraper {
  width: 914px;
  margin: 0 auto;
  padding: 0;
  height: 60px;
  text-align: center;
}

.done-radio-button-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rating-circle {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.rating-radio-buttons-text-left,
.rating-radio-buttons-text-right {
  width: 192px;
  height: 15px;
  font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 26px;
  mso-line-height-rule: exactly;
}

.rating-radio-buttons-text-left {
  color: #ff5245;
  float: left;
}

.rating-radio-buttons-text-right {
  color: #43a047;
  float: right;
}
/*RatungPage table*/

.wrap-table {
  width: 100% !important;
}

table {
  /* для Gmail*/
  min-width: 320px;
  width: 912px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  padding: 0;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

td {
  margin: 0;
  padding: 0;
}

img {
  outline: none;
  -ms-interpolation-mode: bicubic;
  display: block;
  margin: 0 auto;
  padding: 0;
}

p {
  margin: auto;
  padding: 0;
}

.wrap-td-header,
.wrap-td-radio-buttons,
.td-content-wrap {
  background-color: #ffffff;
}

.wrap-td-header {
  padding-top: 30px;
}

.table-header {
  background-color: #ffffff;
}

.td-header {
  width: 550px;
  height: 45px;
  font-family: Roboto, Arial, Helvetica-Medium !important;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  mso-line-height-rule: exactly;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 62.8px;
}

.td-radio-buttons-img {
  padding-top: 26px;
  mso-line-height-rule: exactly;
}

.td-radio-button-header {
  font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0 40px;
  padding-top: 65px;
  mso-line-height-rule: exactly;
}

.td-radio-buttons-text {
  padding-top: 26px;
}

.radio-button-a {
  text-decoration: none;
  width: 8px;
  height: 15px;
  font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  mso-line-height-rule: exactly;
  position: relative;
  z-index: 3;
}

.radio-button-a-none {
  text-decoration: none;
  width: 8px;
  height: 15px;
  font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  mso-line-height-rule: exactly;
  position: relative;
  z-index: 2;
}

.td-radio-buttons-text-left,
.td-radio-buttons-text-right {
  width: 192px;
  height: 15px;
  font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 26px;
}

.td-radio-buttons-text-left {
  color: #ff5245;
  float: left;
}

.td-radio-buttons-text-right {
  color: #43a047;
  float: right;
}

.td-content-text {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 140px;
  padding-left: 15px;
  width: 395px;
  height: 30px;
}

hr {
  background-color: #ffffff;
  width: 99.9%;
  border: solid 1px #dadada;
  margin: 0 auto;
  padding: 0;
}

.table-in-footer {
  max-width: 787px;
  min-width: 320px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  padding: 0;
}

.td-content-text p {
  text-align: left;
  margin: 0 !important;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  mso-line-height-rule: exactly;
}

.header-logo {
  width: 205px;
  height: 52px;
  object-fit: contain;
}

.circle {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  position: relative;
}
.div-a {
  position: relative;
  z-index: 3;
  border-radius: 50%;
}
.div-b {
  position: relative;
  z-index: 2;
  border-radius: 50%;
}
.div-b:hover {
  position: relative;
  z-index: 0;
}
.div-a:hover {
  position: relative;

  z-index: 1;
}

.circle-hover {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

.circle-none {
  width: 24px;
  height: 24px;
  margin-top: -24px;
  position: relative;
}

.wrap-table-footer {
  margin-top: 45px;
  background-color: #ffffff;
}

.wrap-td-footer {
  background-color: #ffffff !important;
  width: 568px;
  height: 26px;
}

.td-footer-text {
  font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #949494;
  mso-line-height-rule: exactly;
}

.td-footer-text a {
  color: #1a77d2;
  text-decoration: none;
  mso-line-height-rule: exactly;
}

.td-footer-wraper-img {
  margin: 0 auto;
  padding: 0;
  padding-top: 36.3px !important;
  mso-line-height-rule: exactly;
}

.td-content-hr-mobile,
.content-hr-mobile,
.td-footer-text-mobile,
.table-content-mobile {
  display: none;
}

@media screen and (max-device-width: 425px) {
  html,
  table {
    background-color: #ffffff !important;
  }
  .wrap-table {
    width: 100% !important;
    background-color: #ffffff !important;
  }
  body {
    width: 375px;
    height: 1536px;
    background-color: #ffffff !important;
  }
  .td-header {
    display: none;
  }
  .td-radio-buttons-img {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 26px;
  }
  .table-content,
  .td-content-hr,
  .content-hr {
    display: none;
  }
  .table-content-mobile {
    display: inline-table;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  .td-radio-buttons-text-mobile {
    width: 100%;
    height: 15px;
    font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .p-radio-buttons-text-mobile-up {
    color: #ff5245;
    text-align: center;
  }
  .p-radio-buttons-text-mobile-down {
    color: #43a047;
    text-align: center;
    padding-top: 14px;
  }
  .td-footer-text,
  .wrap-table-footer,
  .wrap-td-footer,
  .table-in-footer {
    background-color: #ffffff;
  }
  .td-content-hr-mobile,
  .content-hr-mobile,
  .td-footer-text-mobile {
    display: block;
  }
  .td-content-hr-mobile {
    padding-top: 45px;
    width: 100% !important;
    background-color: #f5f5f5;
    border: solid 0.5px #dadada;
    margin: 0 auto;
    padding: 0;
  }
  .content-hr-mobile {
    width: 100%;
    height: 0px;
    border: solid 0.5px #ffffff;
  }
  .td-footer-text-mobile {
    font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    mso-line-height-rule: exactly;
    padding-bottom: 50px;
  }
  .td-footer-text p {
    font-family: Roboto, Arial, Helvetica, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #949494;
    mso-line-height-rule: exactly;
    padding-bottom: 30px !important;
  }
  div {
    background-color: #ffffff !important;
  }
  hr {
    width: 99.9% !important;
  }
  .circle {
    width: 24px !important;
    height: 24px !important;
  }
  .circle-hover {
    width: 24px !important;
    height: 24px !important;
  }
}
